{% load static %}
{% block content %}
<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
      <a class="navbar-brand" >
        <img src="{% static 'img/Jobs-PNG-File.png' %}" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li class="nav-item active mr-3">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>

        </ul>


        <ul class="navbar-nav">
          <li class="nav-item active mr-3">
            <a class="nav-link" href="{% url 'jobs_list' %}">Jobs</a>
          </li>

        </ul>



        <ul class="navbar-nav ml-auto">

          {% if user.is_authenticated and user.is_user %}

          <li class="nav-item mr-3">
            <a class="nav-link" href="{% url 'dashboard' %}">
              <i class="fas fa-user"></i> Wellcome {{user.username}}</a>
          </li>
          </li>

            <li class="nav-item mr-3">
              <a href="{% url 'logout' %}" class="nav-link">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>

                {% csrf_token %}
            </li>

          {% elif user.is_authenticated and user.is_company %}

          <li class="nav-item mr-3">
            <a class="nav-link" href="{% url 'dashboard_company' %}">
              <i class="fas fa-user"></i> Wellcome {{user.username}}</a>
          </li>

            </li>
            <li class="nav-item mr-3">
              <a href="{% url 'logout' %}" class="nav-link">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>

                {% csrf_token %}

            </li>



          {%else%}
          <li class="nav-item mr-3">
            <a class="nav-link" href="{% url 'register' %}">
              <i class="fas fa-user-plus"></i> Register</a>
          </li>

           <li class="nav-item mr-3">
            <a class="nav-link" href="{% url 'register_company' %}">
              <i class="fas fa-users"></i> Register Company</a>
          </li>

          <li class="nav-item mr-3">
            <a class="nav-link" href="{% url 'login' %}">
              <i class="fas fa-sign-in-alt"></i>

              Login</a>
          </li>
         {%endif%}

        </ul>
      </div>
    </div>
  </nav>
{% endblock %}