
{% extends 'base.html' %}

{% block title %}  User Dashboard {% endblock %}

{% block content %}




<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ users.first_name }} {{ users.last_name }}</h1>

        </div>
      </div>
    </div>
  </section>


  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

 <!-- user dashboard fields -->

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <p>

          {% if users.gender == True %}
          Gender: Male

          {% elif users.gender == False %}
          Gender: Female

          {% endif %}

          </p>
          <p>Date of birth: {{ users.date_of_birth }}

          </p>

          <p>
                {% for edu in education %}
                Education: {{ edu.education.all|join:", " }}
                {% endfor %}</p>
          <p>
                {% for skill in skills %}
                Skills: {{ skill.skills.all|join:", " }}
                {% endfor %}</p>
          <p>Last jobs: {{ users.user_extra_fields.last_jobs }}</p>
          <p>CV: </p>
          <p><embed src="{{ users.user_extra_fields.cv.url }}" type="application/pdf"   height="300px" width="50%"></p>




            {% if users.user_extra_fields.education %}
            <p><a download href="{{ users.user_extra_fields.cv.url }}">Download CV</a></p>

            {% endif %}

<h3>You can contact the registered at e-mail: {{ users.email }}

          </h3>

        </div>
      </div>
    </div>
  </section>

  {% endblock %}