{% extends 'base.html' %}

{% block title %}  User Dashboard {% endblock %}

{% block content %}


<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">User Dashboard</h1>
          <p class="lead">Manage your account</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Dashboard</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}
 <!-- dashboard fields -->
  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Hallo {{ user.first_name }} {{ user.last_name }}</h2>
          <p>

          {% if user.gender == True %}
          Gender: Male

          {% elif user.gender == False %}
          Gender: Female

          {% endif %}

          </p>
          <p>Date of birth: {{ user.date_of_birth }}</p>
          <p>{% for edu in education %}
                Education: {{ edu.education.all|join:", " }}
                {% endfor %}</p>
          <p>{% for skill in skills %}
                Skills: {{ skill.skills.all|join:", " }}
                {% endfor %}</p>
          <p>Last jobs: {{ user.user_extra_fields.last_jobs }}</p>
          <p>CV: </p>
          <p><embed src="{{ user.user_extra_fields.cv.url }}" type="application/pdf"   height="300px" width="50%"></p>




            {% if user.user_extra_fields.education %}
            <p><a download href="{{ user.user_extra_fields.cv.url }}">Download CV</a></p>
           Edit user info: <a href="{%url 'user_update' user.id%}" class="btn btn-danger">Edit</a>
            {% endif %}


            {% if not user.user_extra_fields.education %}
           <p> Add new user data  <a href="{%url 'user_create' %}" class="btn btn-danger">Novi podaci</a></p>
            {% endif %}



 <!-- jobs signed table -->
          {% if contacts %}
            <p>Here you can see the jobs you have signed up </p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Jobs</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for contact in contacts %}
                  <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.job }}</td>
                    <td>
                      <a class="btn btn-light" href="{% url 'job_dashboard_user' contact.job_id %}">View job</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>You have no job registration</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  {% endblock %}