{% extends 'base.html' %}

{% block title %} Company Dashboard {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Company Dashboard</h1>
          <p class="lead">Manage your account</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Dashboard</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

 <!-- company dashboard fields -->
  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome {{ user.company_name }}</h2>
              {% if user.company_extra_fields.photo %}
              <img class="card-img-top"  src="{{ user.company_extra_fields.photo.url }}" style="width:450px;height:150px;">
            {% endif %}
                    <a href="{%url 'jobs_create' %}" class="btn btn-danger">New Job</a>
         <p>JIB: {{ user.jib }}</p>
          <p>Purpose: {{ user.company_extra_fields.purpose }}</p>
          <p>Activities: {{ user.company_extra_fields.activities }}</p>
          <p>Phone: {{ user.company_extra_fields.phone }}</p>
          <p>Staff: {{ user.company_extra_fields.staff }}</p>



            {% if user.company_extra_fields.photo %}
           Edit company information: <a href="{%url 'company_update' user.id%}" class="btn btn-danger">Edit</a>
            {% endif %}


            {% if not user.company_extra_fields.photo %}
           <p> Add new company information   <a href="{%url 'companys_create' %}" class="btn btn-danger">Novi podaci</a></p>
            {% endif %}

 <!-- jobs published table -->
          {% if job %}
          <p>Here you can see the jobs you published</p>
                      <table class="table">
              <thead>
                <tr>

                  <th scope="col">Jobs</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
            {% for jobs in job %}
                  <tr>

                    <td>{{jobs.title}}</td>
                    <td>
                      <a class="btn btn-light" href="{%url 'job_dashboard' jobs.id%}">View job</a>
                    </td>
                  </tr>

            {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>You don't have published jobs</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  {% endblock %}