<!--<h1>register kompanije</h1>-->

{% extends 'base.html' %}

{% block title %} Register Company {% endblock %}

 <!-- company register fields -->

{% block content %}
<section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-user-plus"></i> Register Your Company</h4>
            </div>
            <div class="card-body">
              <!-- Alerts -->
              {% include 'partials/_alerts.html' %}
              <form  method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="company_name">Company Name</label>
                      <input type="text" name="company_name" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="jib">JIB</label>
                      <input type="text" name="jib" class="form-control" required>
                    </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" required>
                    <small>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>

                </div>
                <div class="form-group">
                  <label for="password2">Password</label>
                  <input type="password" name="password1" class="form-control" required>
                    <small>    Your password can't be too similar to your other personal information.<br>
                                Your password must contain at least 8 characters.<br>
                                 Your password can't be a commonly used password.<br>
                                    Your password can't be entirely numeric.</small>
                </div>
                <div class="form-group">
                  <label for="password1">Confirm Password</label>
                  <input type="password" name="password2" class="form-control" required>
                </div>
               <button class="btn btn-outline-info" type="submit">Sign Up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}