{% extends 'base.html' %}
{% load humanize %}

{% block title %} Home {% endblock %}

{% block content %}



  <section id="listings" class="py-5">
    <div class="container">
      <h2 class="text-center mb-3">Last added jobs</h2>
      <div class="row">
{% if job %}
{%for jobs in job%}
            <!-- job fields -->

            <div class="col-md-6 col-lg-4 mb-4">
              <div class=" listing-preview">
                <img class="card-img-top" src="{{ jobs.photo_main.url }}" style="width:350px;height:200px;">
                                    <h2>

                  </h2>
                </div>

                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ jobs.title }}</h4>
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> {{ jobs.address }}, {{ listing.city }}</p>
                  </div>
                  <hr>
                  <div class="col py-2 text-secondary">
                    <div class="col-12">
                    <i class="fas fa-people-carry"></i> Number of employees: {{ jobs.number_workers }}</div>

                  <hr>
                  <div class="col py-2 text-secondary">
                    <div class="col-12">
                      <i class="fas fa-user"></i> Company: {{ jobs.user.company_name }}</div>
                  </div>
                  <div class="col text-secondary pb-2">
                    <div class="col-12">
                      <i class="fas fa-clock"></i> {{ jobs.list_date | timesince }}</div>
                  </div>
                  <a href="{%url 'job_dashboard_user' jobs.id%}" class="btn btn-primary btn-block">More info</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Jobss Available</p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>
{% endblock %}