
{% block content %}
<head>

    <title>Company</title>
</head>
<body>
<!--  -->
<h1>Company list</h1>
<ul>
{%for company_2 in company%}
<li>

<!-- company list and link to company dashboard -->

    <p><a href="{%url 'company_dashboard' company_2.id%}">{{company_2}}</a></p>


    <img src="{{ company_2.photo.url }}"  style="width:150px;height:90px;">

</li>

{%endfor%}

</ul>


</body>


{% endblock %}