{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %} CRUD kompanije {% endblock %}

<!-- CRUD companys -->

{% block content %}
<section id="crud" class="bg-light py-5">
        <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
                <div class="card-body">

<form method="post" enctype="multipart/form-data" >



    {% csrf_token %}
<h2>Modify the data</h2>

       <fieldset class="form-group">
    {{form_1|crispy}}

       </fieldset>


<input type="hidden" name="user" value="{{user.id}}">


<div class="form-group">
    <button type="submit">Save</button>

</div>

</form>
                    </div>
      </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}