{% extends 'admin/base.html' %}
{% load static %}
 <!-- change django admin area -->
{% block branding %}
  <h1 id="head">
    <img src="{% static 'img/Jobs-PNG-File.png' %}" alt="Job Finder" height="50" width="80" class="brand_img"> Admin Area
  </h1>
{% endblock %}
{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}