{% extends 'base.html' %}
{% block content %}

<!-- list jobs -->

  <section id="listings" class="py-5">
    <div class="container">
      <h2 class="text-center mb-3">Jobs list</h2>
      <div class="row">
{% if clients %}
    {%for client in clients%}
            <!-- list jobs and planing CRUD for admin -->
            <!--{% if user.is_authenticated and user.is_superuser %}
            <a href="{%url 'jobs_delete' client.id%}">Delete</a>
            <a href="{%url 'jobs_update' client.id%}">Edit</a>
            {%endif%}-->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class=" listing-preview">
                <img class="card-img-top" src="{{ client.photo_main.url }}" style="width:350px;height:200px;">
                                    <h2>

                  </h2>
                </div>

                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ client.title }}</h4>
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> {{ client.address }}, {{ client.city }}</p>
                  </div>
                  <hr>
                  <div class="col py-2 text-secondary">
                    <div class="col-12">
                    <i class="fas fa-people-carry"></i> Number of workers: {{ client.number_workers }}</div>

                  <hr>
                  <div class="col py-2 text-secondary">
                    <div class="col-12">

                      <!-- if you want to use some user data -->
                      <i class="fas fa-user"></i> Company: {{ client.user.company_name }}</div>
                  </div>
                  <div class="col text-secondary pb-2">
                    <div class="col-12">
                      <i class="fas fa-clock"></i> {{ client.list_date | timesince }}</div>
                  </div>
                  <a href="{%url 'job_dashboard_user' client.id%}" class="btn btn-primary btn-block">More info</a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Jobss Available</p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>

{% endblock %}