<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete job</title>
</head>
<body>
<h1>Confirm that you want to delete {{client.title}}</h1>
<form method="POST">

    <button type="submit">Delete</button>
</form>
</body>
</html>