{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} CRUD jobs {% endblock %}

<!-- form for jobs CRUD -->
{% block content %}
<section id="crud" class="bg-light py-5">
        <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
                <div class="card-body">


<form method="post" enctype="multipart/form-data">
 {% csrf_token %}
    <fieldset class="form-group">
       {{form_2|crispy}}

    </fieldset>

<div class="form-group">
   <button class="btn btn-outline-info" type="submit">Save</button>
</div>

</form>
                    </div>
      </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}