{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Job dashboard</title>
</head>
<body>



<h1>{{job.title}}</h1>
<p>{{photo_main}}</p>
    <img class="card-img-top"  src="{{ job.photo_main.url }}" style="width:450px;height:150px;">
<p>Company: {{job.user.company_name}}</p>

<p>Address: {{job.address}}</p>
<p>City: {{job.city}}</p>
<p>Description: {{job.description}}</p>
<p>Required number of workers: {{job.number_workers}}</p>
<p>Company email: {{job.user.email}}</p>
<p>Category:

                {% for cat in category %}
                {{ cat.category.all|join:", " }}
                {% endfor %}
</p>


{% if user.is_authenticated and user.is_company%}
<a href="{%url 'jobs_delete' job.id%}"class="btn btn-danger">Delete</a>
<a href="{%url 'jobs_update' job.id%}"class="btn btn-danger">Edit</a>
<a href="{%url 'jobs_create' %}"class="btn btn-danger">New Job</a>
{% endif %}
{% if user.is_authenticated and user.is_user %}
<form method="POST">

    <button type="submit">Sign in to work</button>
</form>
{% endif %}


            <p><br>Here you can see the users who signed up</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Signed</th>
                  <th scope="col">Message</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for contact in contacts %}
                  <tr>
                    <td>{{ contact}}</td>
                    <td>{{ contact.message }}</td>
                    <td>
                      <a class="btn btn-dark" href="{% url 'users' contact.user_id %}">View user</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>


</body>


{% endblock %}