{% extends 'base.html' %}
{% block content %}




<body>




  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{job.title}}</h1>
          <p class="lead">
            <i class="fas fa-map-marker"></i> Company: {{job.user.company_name}}</p>
        </div>
      </div>
    </div>
  </section>



  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <a href="{%url 'jobs_list'%}" class="btn btn-light mb-4">Back To jobs</a>
      <div class="row">
        <div class="col-md-9">
          <!-- Home Main Image -->

<img class="img-main img-fluid mb-3"  src="{{ job.photo_main.url }}" style="width:450px;height:150px;">
          <!-- Fields -->
          <div class="row mb-5 fields">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-address-book"></i> Address:
                  <span class="float-right">{{job.address}}</span>
                </li>
                <li class="list-group-item text-secondary">
                 <i class="fas fa-map-marker-alt"></i>City:
                  <span class="float-right">{{job.city}}</span>
                </li>
                <li class="list-group-item text-secondary">
                 <i class="fas fa-align-justify"></i></i> Description:
                  <span class="float-right">{{job.description}}</span>
                </li>
                <li class="list-group-item text-secondary">
                 <i class="fas fa-people-carry"></i> Required number of workers:
                  <span class="float-right">{{job.number_workers}}
                  </span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-at"></i> Company email:
                  <span class="float-right">{{job.user.email}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-address-book"></i> Category:
                  <span class="float-right">
                {% for cat in category %}
                {{ cat.category.all|join:", " }}
                {% endfor %}
                  </span>
                </li>


              </ul>
            </div>
          </div>

          <!-- Description -->

        </div>
        <div class="col-md-3">
          <div class="card mb-3">

            <img class="img-main img-fluid mb-3"  src="{{ job.user.company_extra_fields.photo.url }}" >
            <div class="card-body">
              <h5 class="card-title">Company</h5>
              <h6 class="text-secondary">{{job.user.company_name}}</h6>
            </div>
          </div>
          <!-- only user can sign in to work, company dont see that -->
          {% if user.is_authenticated and user.is_user %}
          <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Sign in to work</button>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <!-- Inquiry Modal for contacts (pop up page for contact between user and company) -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Sign in to work</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <form action="{% url 'contact' %}" method="POST">

            {% csrf_token %}

              <input type="hidden" name="user_id" value="{{ user.id }}">


            <input type="hidden" name="company_email" value="{{job.user.email}}">
            <input type="hidden" name="job_id" value="{{ job.id }}">
            <div class="form-group">
              <label for="job" class="col-form-label">Job:</label>
              <input type="text" name="job" class="form-control" value="{{job.title}}" >
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" name="name" class="form-control" value="{{ user.first_name }} {{ user.last_name }}"  required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control" value="{{ user.email }}"  required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Message:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Send" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>



</body>

{% endblock %}